In [1]:
import pandas as pd
import numpy as np

In [2]:
train_feat = pd.read_csv("./train_features.csv")
train_labl = pd.read_csv("./train_labels.csv")

In [8]:
train_feat[train_feat["pid"] == 2]

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
79464,2,1,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79465,2,2,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,148.0,NaN
79466,2,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.0,NaN,NaN,NaN,59.0,NaN,NaN,127.0,NaN
79467,2,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,140.0,NaN
79468,2,5,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,120.0,NaN
79469,2,6,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,59.0,NaN,NaN,122.0,NaN
79470,2,7,86.0,NaN,31.8,32.0,NaN,NaN,13.1,NaN,...,NaN,98.0,NaN,NaN,40.2,59.0,NaN,0.44,138.0,NaN
79471,2,8,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,132.0,NaN
79472,2,9,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.0,NaN,NaN,NaN,59.0,NaN,NaN,125.0,NaN
79473,2,10,86.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,59.0,NaN,NaN,129.0,NaN
79474,2,11,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,59.0,NaN,NaN,126.0,NaN
79475,2,12,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,136.0,NaN